## Load RMI Utilities Transition Hub Data (from https://utilitytransitionhub.rmi.org/data-download/ for Data Vault Prototype)

Copyright (C) 2021 OS-Climate

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

### We have local copies of the released datasets rooted in the S3_BUCKET : RMI/RMI-202*

### The next step is to enrich with OS-C Factor metadata

Contributed by Michael Tiemann (Github: MichaelTiemannOSC)

Load Credentials

In [1]:
# From the AWS Account page, copy the export scripts from the appropriate role using the "Command Line or Programmatic Access" link
# Paste the copied text into ~/credentials.env

from dotenv import dotenv_values, load_dotenv
import os
import pathlib

dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

import osc_ingest_trino as osc
import pyarrow as pa
import pyarrow.parquet as pq
import json
import io

Create an S3 resource for the bucket holding source data

In [2]:
import boto3
s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

rmi_20210929_files = {}
for file in source_bucket.objects.filter(Prefix='RMI/RMI-20210929'):
    if file.key.endswith('csv'):
        rmi_20210929_files[file.key] = file.last_modified.isoformat()
# print(rmi_20210929_files)

rmi_20211120_files = {}
for file in source_bucket.objects.filter(Prefix='RMI/RMI-20211120'):
    if file.key.endswith('csv'):
        rmi_20211120_files[file.key] = file.last_modified.isoformat()
# print(rmi_20211120_files)

rmi_20220119_files = {}
for file in source_bucket.objects.filter(Prefix='RMI/RMI-20220119'):
    if file.key.endswith('csv'):
        rmi_20220119_files[file.key] = file.last_modified.isoformat()
print(rmi_20220119_files)

In [3]:
# Create an S3 client.  We will user later when we write out data and metadata

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [4]:
import trino
from sqlalchemy.engine import create_engine

ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'sandbox'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ['TRINO_USER'],
    host = os.environ['TRINO_HOST'],
    port = os.environ['TRINO_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ['TRINO_PASSWD']),
    'http_scheme': 'https',
    'catalog': ingest_catalog,
    'schema': ingest_schema,
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

# Show available schemas to ensure trino connection is set correctly
qres = engine.execute('show schemas')
display(qres.fetchall())

[('default',), ('information_schema',), ('sandbox',)]

Load RMI data file using pandas *read_csv* and appropriate dtype dictionaries

In [5]:
import numpy as np
import pandas as pd

# Current (November 20, 2021) dataset sometimes represents YEAR as floating point number.  We will read as string and fix later.

dtype_dict = {
    # Table Name maps to dtypes (note that NaNs cannot encode to integers, so must do ex post facto fixes)
    'assets_earnings_investments':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'asset_value':'float64', 'earnings_value':'float64', 'investment_value':'float64'},
    'customers_sales':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'customer_type':'string', 'customer_type_rmi':'string',
         'customers':'Int32',
         'sales':'float64', 'revenues':'float64'},
    'debt_equity_returns':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'rate_base_actual':'float64', 'equity_actual':'float64', 'debt_actual':'float64', 
         'equity_ratio_actual':'float64', 'returns_actual':'float64', 'earnings_actual':'float64',
         'interest_actual':'float64', 'fed_tax_expense_actual':'float64',
         'pre_tax_net_income_actual':'float64', 'ROR_actual':'float64', 'ROE_actual':'float64',
         'equity_ratio':'float64', 'ROR':'float64', 'ROE':'float64',
         'interest_rate':'float64',
         'effective_fed_tax_rate':'float64', 'equity_authorized':'float64', 'debt_authorized':'float64',
         'returns_authorized':'float64', 'earnings_authorized':'float64', 'interest_authorized':'float64', 
         'interest_rate_authorized':'float64'},
    'emissions_targets':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'Int32', 'year':'string',
         'CO2_historical':'float64', 'CO2_target':'float64', 'CO2_target_all_years':'float64', 'CO2_1point5C':'float64',
         'generation_historical':'float64', 'generation_projected':'float64', 'generation_1point5C':'float64',
         'CO2_intensity_historical':'float64', 'CO2_intensity_target':'float64', 'CO2_intensity_target_all_years':'float64', 'CO2_intensity_1point5C':'float64'},
    'employees':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'technology':'string',
         'employees':'int32'},
    'expenditure_bills_burden':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'percent_AMI':'string', 'ownership':'string',
         'electricity_gas_other':'string', 'technology':'string',
         'expenditure':'float64', 'bill':'float64', 'burden':'float64'},
    'expenditure_bills_burden_detail': str,
    'housing_units_income':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'percent_AMI':'string', 'ownership':'string',
         'housing_units':'float64', 'income':'float64'},
    'net_plant_balance':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'FERC_class':'string',
         'original_cost':'float64', 'accum_depr':'float64', 'net_plant_balance':'float64',
         'ARC':'float64', 'ARC_accum_depr':'float64', 'net_ARC':'float64'},
    'operations_emissions_by_fuel':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'plant_name_eia':'string', 'plant_id_eia':'Int32',
         'generator_id':'string', 'state':'string', 'city':'string', 'county':'string',
         'latitude':'float64', 'longitude':'float64',
         'balancing_authority_code':'string', 'balancing_authority_name':'string',
         'iso_rto_code':'string', 'nerc_region':'string', 'owned_or_total':'string', 'status':'string',
         'technology_EIA':'string', 'technology_RMI':'string',
         'operating_month':'Int32', 'operating_year':'Int32',
         'retirement_month':'Int32', 'retirement_year':'Int32',
         'capacity':'float64', 'year_end_capacity':'float64', 'generation':'float64', 'fuel_consumption':'float64',
         'emissions_c02':'float64', 'emissions_nox':'float64', 'emissions_sox':'float64'},
    'operations_emissions_by_tech':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'plant_name_eia':'string', 'plant_id_eia':'Int32',
         'generator_id':'string', 'state':'string', 'city':'string', 'county':'string',
         'latitude':'float64', 'longitude':'float64',
         'balancing_authority_code':'string', 'balancing_authority_name':'string',
         'iso_rto_code':'string', 'nerc_region':'string', 'owned_or_total':'string', 'status':'string',
         'technology_EIA':'string', 'technology_RMI':'string',
         'operating_month':'Int32', 'operating_year':'Int32',
         'retirement_month':'Int32', 'retirement_year':'Int32',
         'capacity':'float64', 'year_end_capacity':'float64', 'generation':'float64', 'potential_generation':'float64',
         'capacity_factor':'float64', 'fuel_consumption':'float64',
         'emissions_c02':'float64', 'emissions_nox':'float64', 'emissions_sox':'float64'},
    'revenue_by_tech':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32', 'year':'string',
         'technology':'string', 'component':'string', 'detail':'string',
         'revenue_total':'float64', 'revenue_residential':'float64' },
    'state_targets': str,
    'utility_information':
        {'parent_name':'string', 'parent_LEI':'string', 'parent_ticker':'string', 'parent_isin':'string',  'utility_name':'string',
         'respondent_id':'int32', 'utility_id_eia':'Int32',
         'utility_lei':'string', 'entity_type_eia':'string', 'entity_type_rmi':'string',
         'first_report_year':'string', 'last_report_year':'string',
         'duplicate_utility_id_eia':bool },
    'utility_state_map':
        {'parent_name':'string', 'utility_name':'string',
         'respondent_id':'int32',
         'state_abbr':'string', 'state':'string',
         'capacity_owned_in_state':'float64',
         'capacity_operated_in_state':'float64',
         'mwh_sales_in_state':'float64', }
}

fillna_dict = {
    'assets_earnings_investments':
        {'asset_value': 0, 'earnings_value': 0, 'investment_value': 0},
    'customer_sales':
        {'customers': 0, 'sales': 0, 'revenues': 0}
}

dropna_dict = {
    'emissions_targets': {'respondent_id':'int32'},
}

Create the actual metadata for the source.  In this case, it is *rmi_utility_transition_hub*

We read and interpret the data dictionary that comes with the data sources.

In [6]:
import io
import zipfile
import pandas as pd

if False:
    rmi_20210929_b = io.BytesIO(source_bucket.Object('RMI/RMI-20210929.zip').get()['Body'].read())
    rmi_20210929_zip = zipfile.ZipFile(rmi_20210929_b, mode='r')
    del(rmi_20210929_b)
    # display(zipfile.ZipFile(rmi_20210929_zip, mode='r').filelist)
    rmi_dd = rmi_20210929_zip.read('data_download/RMI Utility Transition Hub Data Dictionary.xlsx')

    # Read all the sheets.  rmi_excel['sheet_name'] gives a specific sheet
    rmi_20210929_xls = pd.read_excel(rmi_dd, sheet_name=None, dtype=str)

    rmi_20211120_b = io.BytesIO(source_bucket.Object('RMI/RMI-20211120.zip').get()['Body'].read())
    rmi_20211120_zip = zipfile.ZipFile(rmi_20211120_b, mode='r')
    del(rmi_20211120_b)
    # display(zipfile.ZipFile(rmi_20211120_zip, mode='r').filelist)
    rmi_dd = rmi_20211120_zip.read('data_dictionary.xlsx')

    # Read all the sheets.  rmi_excel['sheet_name'] gives a specific sheet
    rmi_20211120_xls = pd.read_excel(rmi_dd, sheet_name=None, dtype=str)

rmi_20220119_b = io.BytesIO(source_bucket.Object('RMI/RMI-20220119.zip').get()['Body'].read())
rmi_20220119_zip = zipfile.ZipFile(rmi_20220119_b, mode='r')
del(rmi_20220119_b)
# display(zipfile.ZipFile(rmi_20220119_zip, mode='r').filelist)
rmi_dd = rmi_20220119_zip.read('data_dictionary.xlsx')

# Read all the sheets.  rmi_excel['sheet_name'] gives a specific sheet
rmi_20220119_xls = pd.read_excel(rmi_dd, sheet_name=None, dtype=str)

del(rmi_dd)

In [7]:
def drop_cols_by_index(df, index):
    column_numbers = [x-1 for x in range(df.shape[1],0,-1)]  # reversed list of columns' integer indices
    if type(index)==list:
        index.sort()
    else:
        index = [ index ]
    for i in index:
        # removing small-to-large index values from large-to-small list means we take from the right, preserving order from zero origin
        column_numbers.remove(i)
    column_numbers.sort()
    return df.iloc[:, column_numbers] # return remaining columns

def generate_overview_meta(dd, release_date):
    global overview_dd
    print('Generating Overview...')
    title = dd.loc[0, 'Unnamed: 1']
    general_overview = dd.loc[1, 'Unnamed: 2']
    scope = dd.loc[2, 'Unnamed: 2']
    limitations_to_scope = dd.loc[3, 'Unnamed: 2']
    # Drop non-table data captured above
    dd = dd.drop(list(range(0,5)))
    dd.set_axis(['Name', 'Description'], axis=1,inplace=True)
    meta_content = {'title':title, 'description':general_overview, 'version':f'Released {release_date}', 'uri':'https://utilitytransitionhub.rmi.org/data-download/',
                    'copyright':'© 2021 RMI', 'license':'Creative Commons Attribution-Noncommercial 4.0 International Public License (CC BY-NC)',
                    'contact':'utilitytransitionhub@rmi.org', 'abstract':'\n'.join([scope, limitations_to_scope]), 'name':'rmi_utility_transition_hub' }
    overview_dd = dd
    return meta_content

In [8]:
import math

units_dict = {
    '$': 'USD',
    'number': '',
}

def generate_generic_meta(sheet, dd):
    global overview_dd
    
    description = overview_dd.loc[overview_dd['Name']==sheet, 'Description'].to_string(index=False)
    meta_content = { 'tname':sheet, 'parent_schema':schemaname, 'description':description,
                     dd.iloc[-2,0]: dd.iloc[-1,0]}
    dd.columns = list(dd.iloc[0])
    dd = dd.drop(0, axis=0).drop(dd.tail(2).index).fillna(value='')
    meta_fields = {k:{'description': v} for k, v in list(zip(dd.iloc[:, 0], dd.iloc[:, 1]))}
    for field, dim in list(zip(dd.iloc[:, 0], dd.iloc[:, 2])):
        if dim=='':
            continue
        if dim in units_dict:
            meta_fields[field]['dimension'] = units_dict[dim]
        else:
            meta_fields[field]['dimension'] = dim

    return meta_fields, meta_content

In [9]:
def generate_assets_meta(sheet, dd):
    global overview_dd
    description = overview_dd.loc[overview_dd['Name']==sheet, 'Description'].to_string(index=False)
    meta_content = { 'tname':sheet, 'parent_schema':schemaname, 'description':description,
                     dd.iloc[-2,0]: dd.iloc[-1,0]}
    dd.columns = list(dd.iloc[0])
    dd = dd.drop(0, axis=0).drop(dd.tail(2).index)
    
    ### ??? What should we do with enumerations of asset and sub_asset types?
    
    # Drop columns that exist only to hold enumeration values
    dd = drop_cols_by_index(dd, [1,2])
    # Asset & sub_asset are actually two fields
    fixup_index = dd[dd['Data field']=='asset & sub_asset'].index
    dd.loc[fixup_index, 'Data field'] = 'asset'
    dd.loc[fixup_index, 'Definition'] = "RMI's categorization of assets based on grouping of [steam,nuclear,hydro,renewables,other_fossil,transmission,distribution,other]"
    dd.loc[fixup_index+1, 'Data field'] = 'sub_asset'
    dd.loc[fixup_index+1, 'Definition'] = "RMI's categorization of sub_assets when asset=other based on grouping of [AROs,construction_work_in_progress,distribution_arc,electric_plant_held_for_future_use,electric_plant_leased_to_others,experimental_plant,general_plant,general_plant_arc,hydro_arc,intangible_plant,net_ADIT,net_regulatory_assets,net_working_capital,nuclear_arc,other_deferred_debits_and_credits,other_electric_plant,other_fossil_arc,other_noncurrent_liabilities,regional_transmission_and_market_operation,renewables_arc,steam_arc,transmission_arc]"
    dd = dd.dropna(subset=['Data field']).fillna(value='')
    
    meta_fields = {k:{'description': v} for k, v in list(zip(dd.iloc[:, 0], dd.iloc[:, 1]))}
    for field, dim in list(zip(dd.iloc[:, 0], dd.iloc[:, 2])):
        if dim=='':
            continue
        if dim in units_dict:
            meta_fields[field]['dimension'] = units_dict[dim]
        else:
            meta_fields[field]['dimension'] = dim
    return meta_fields, meta_content

In [10]:
def generate_emissions_meta(sheet, dd):
    global overview_dd
    global operations_emissions_fields, operations_emissions_content
    
    description = overview_dd.loc[overview_dd['Name']==sheet, 'Description'].to_string(index=False)
    meta_content = { 'tname':sheet, 'parent_schema':schemaname, 'description':description,
                     dd.iloc[-2,0]: dd.iloc[-1,0]}
    dd.columns = list(dd.iloc[0])
    dd = dd.drop(0, axis=0).drop(dd.tail(2).index)
    
    ### ??? What should we do with code enumerations?
    
    # Drop columns that exist only to hold enumeration values
    dd = drop_cols_by_index(dd, 1)
    # Strip out enumerations of codes
    dd = dd.dropna(subset=['Data field']).fillna(value='')
    meta_fields = {k:{'description': v} for k, v in list(zip(dd.iloc[:, 0], dd.iloc[:, 1]))}
    
    for field, dim in list(zip(dd.iloc[:, 0], dd.iloc[:, 2])):
        if dim=='':
            continue
        if dim in units_dict:
            meta_fields[field]['dimension'] = units_dict[dim]
        else:
            meta_fields[field]['dimension'] = dim
    operations_emissions_fields = meta_fields
    operations_emissions_content = meta_content
    return meta_fields, meta_content

In [11]:
def generate_bills_meta(sheet, dd):
    global overview_dd
    description = overview_dd.loc[overview_dd['Name']==sheet, 'Description'].to_string(index=False)
    meta_content = { 'tname':sheet, 'parent_schema':schemaname, 'description':description,
                     dd.iloc[-2,0]: dd.iloc[-1,0]}
    dd.columns = list(dd.iloc[0])
    # Temporary fix for bad November 2020 data
    if sheet=='revenue_by_tech':
        dd = dd.rename(columns={' revenue_total ':'revenue_total', ' revenue_residential ':'revenue_residential'})
    dd = dd.drop(0, axis=0).drop(dd.tail(2).index)
    
    ### ??? What should we do with code enumerations?
    
    # Drop columns that exist only to hold enumeration values
    dd = drop_cols_by_index(dd, 1)
    # Strip out enumerations of codes
    dd = dd.dropna(subset=['Data field']).fillna(value='')
    meta_fields = {k:{'description': v} for k, v in list(zip(dd.iloc[:, 0], dd.iloc[:, 1]))}
    for field, dim in list(zip(dd.iloc[:, 0], dd.iloc[:, 2])):
        if dim=='':
            continue
        if dim in units_dict:
            meta_fields[field]['dimension'] = units_dict[dim]
        else:
            meta_fields[field]['dimension'] = dim
    return meta_fields, meta_content

In [12]:
def generate_other_generation_meta(dd):
    global operations_emissions_fields
    meta_content = { 'tname':'other_generation', 'parent_schema':schemaname,
                     'description': 'EE & DR as well as Purchased Power, all of which count toward `avoided generation`',
                     'Additional notes': 'Table derived from operation_emissions_by_field by OS-Climate'}
    meta_fields = { ik: operations_emissions_fields[ik] for ik in (operations_emissions_fields.keys() & list(dd.columns))}
    return meta_fields, meta_content

The Data Dictionary is in an XLSX workbook
The actual Data lives in seprate CSV files

In [13]:
other_generation_meta_fields = None
other_generation_meta_content = None
other_generation_df = None

def generate_sheet_meta(wb, sheet, release_date):
    # For as-yet unexplained reasons, RMI renamed the file assets_earnings_investments.csv
    # without updating the name of the sheet in the spreadsheet.  We switch to the intended sheetname here
    if sheet == 'assets_earnings':
        sheet = 'assets_earnings_investments'
    
    dd=wb[sheet]
    # Remove empty column that appears in all of the spreadsheets
    dd = dd.drop('Unnamed: 0', axis=1)
    # Given the requested sheet the necessary processing
    if sheet=='Overview':
        meta_content = generate_overview_meta(dd, release_date)
        print('Metadata Overview')
        print(meta_content)
        return {}, meta_content
    if sheet=='data_sources':
        return {}, {}
    if sheet=='assets_earnings_investments':
        return generate_assets_meta(sheet, dd)
    if sheet in ['employees', 'expenditure_bills_burden', 'expenditure_bills_burden_detail', 'revenue_by_tech']:
        # Both tables have the same essential shape
        return generate_bills_meta(sheet, dd)
    if sheet in ['operations_emissions_by_fuel', 'operations_emissions_by_tech']:
        return generate_emissions_meta(sheet, dd)
    if sheet=='other_generation':
        return generate_other_generation_meta(dd)
    if sheet=='state_utility_policies':
        ### df = pd.read_csv(source_bucket.Object(f).get()['Body'],
        ###                  dtype={'respondent_id':'int32'},parse_dates=['date_updated'],dayfirst=True)
        return generate_generic_meta(sheet, dd)
    return generate_generic_meta(sheet, dd)

In [ ]:
from io import BytesIO
import datetime

rmi_ingest_schemas = { # 'rmi_20210929': ('September 2021', rmi_20210929_xls, rmi_20210929_zip),
                       # 'rmi_20211120': ('November 2021', rmi_20211120_xls, rmi_20211120_zip),
                       'sandbox': ('January 2022', rmi_20220119_xls, rmi_20220119_zip),}

def first_valid_col_value(df, col):
    return df.loc[df[col].first_valid_index(), col]

# There is no datafile behind the data dictionary.  Run this to prime overview_dd, which all other metadata-finding depends upon
for schemaname, (release_date, workbook, zipfile) in rmi_ingest_schemas.items():
    # The dataframe for Non-Null data
    df_nn = None
    overview_dd = None
    operations_emissions_content = None
    operations_emissions_fields = None

    overview_meta_fields, overview_meta_content = generate_sheet_meta(workbook, 'Overview', release_date)

    for zipinfo in zipfile.infolist():
        fname = zipinfo.filename
        ftimestamp = datetime.datetime(*zipinfo.date_time)
        if fname[-4:] != '.csv':
            continue
        if fname.startswith('__MACOSX/._'):
            continue

        tablename = fname.split('/')[-1].split('.')[0]
        # For as-yet unexplained reasons, RMI renamed the file assets_earnings_investments.csv
        # without updating the name of the sheet in the spreadsheet.  We switch to the intended name here
        if tablename == 'assets_earnings':
            tablename = 'assets_earnings_investments'
        if tablename == 'expenditure_bills_burden_detail':
            continue

        print(f"fname: '{fname}'; tablename = '{tablename}'")
        with zipfile.open(fname) as zf:
            if tablename=='state_utility_policies':
                df = pd.read_csv(zf, dtype={'respondent_id':'int32'},parse_dates=['date_updated'],dayfirst=True, engine='c')
            elif tablename.startswith('utility'):
                df = pd.read_csv(zf, dtype=dtype_dict[tablename], engine='c')
                if tablename=='utility_information' and schemaname <= 'rmi_20211120':
                    # Correct information for 'American Transmission Co LLC', which is owned by 'WEC Energy Group'
                    df.loc[df.respondent_id==275, ['parent_name', 'parent_ticker', 'parent_ISIN', 'parent_LEI']] = df.loc[df.respondent_id==519, ['parent_name', 'parent_ticker', 'parent_ISIN', 'parent_LEI']].values
                    df = df.rename(columns={'parent_ISIN':'parent_isin', 'parent_LEI':'parent_lei'})
                if tablename=='utility_information':
                    # Correct several LEI errors and omissions
                    df.loc[df.parent_name=='American Electric Power Co., Inc.', 'parent_lei'] = '1B4S6S7G0TW5EE83BO58'
                    df.loc[df.parent_name=='American States Water Co.', 'parent_isin'] = first_valid_col_value(df[df.parent_name=='American States Water Co.'], 'parent_isin')
                    df.loc[df.parent_name=='American States Water Co.', 'parent_lei'] = '529900L26LIS2V8PWM23'
                    df.loc[df.parent_name=='Berkshire Hathaway, Inc.', 'parent_lei'] = '5493000C01ZX7D35SD85'
                    df.loc[df.parent_name=='Citizens Energy Corp.', 'parent_lei'] = '5493008ORX814MK1WM19'
                    df.loc[df.parent_name=='FirstEnergy Corp.', 'parent_lei'] = '549300SVYJS666PQJH88'
                    df.loc[df.parent_name=='LS Power', 'parent_lei'] = '549300Z88AAE0R1YHI77'
                    df.loc[df.parent_name=='NextEra Energy, Inc.', 'parent_lei'] = 'UMI46YPGBLUE4VGNNT48'
                    df.loc[df.parent_name=='PG&E Corp.', 'parent_lei'] = '8YQ2GSDWYZXO2EDN3511'
                    df.loc[df.parent_name=='Sempra', 'parent_isin'] = first_valid_col_value(df[df.parent_name=='Sempra'], 'parent_isin')
                    df.loc[df.parent_name=='Sempra', 'parent_lei'] = 'PBBKGKLRK5S5C0Y4T545'
                    df.loc[df.parent_name=='Unitil Corp.', 'parent_lei'] = '549300EYGHO5EZE7RL80'
                    df.loc[df.parent_name=='Verso Corp.', 'parent_lei'] = '549300FODXCTQ8DGT594'
                    df.loc[df.parent_name=='Verso Corp.', 'parent_isin'] = 'US92531L2079'
            elif tablename=='state_targets':
                df = pd.read_csv(zf, dtype=dtype_dict[tablename], engine='c')
                df.year.fillna('-1', inplace=True)
                df.loc[df.year.isin(['Annual','2005/1990']), 'year'] = '-1'
                df.year = pd.to_datetime(df.year.map(lambda x: x.split('.')[0]).astype('int32'), format='%Y', errors='coerce')
            else:
                df = pd.read_csv(zf, dtype=dtype_dict[tablename], thousands=',', engine='c')
                if 'year' in df.columns:
                    df.year.fillna('-1', inplace=True)
                    df.year = pd.to_datetime(df.year.map(lambda x: x.split('.')[0]).astype('int32'), format='%Y', errors='coerce')
                if tablename=='revenue_by_tech':
                    # The 2020 numbers come with extra spaces, comma separators, and sometimes parentheses instead of minus signs.
                    def cleanup_2020_numbers(s):
                        if type(s)==float:
                            return s
                        if s is None or s=='' or pd.isnull(s):
                            return 'nan'
                        s = s.strip().replace(',','')
                        if s[0]=='(':
                            s = s[1:-1]
                        elif s=='#NAME?':
                            s = 'nan'
                        return s
                    df.rename(columns={' revenue_total ':'revenue_total', ' revenue_residential ':'revenue_residential'}, inplace=True)
                    df.revenue_total = df.revenue_total.map(cleanup_2020_numbers).astype('float64')
                    df.revenue_residential = df.revenue_residential.map(cleanup_2020_numbers).astype('float64')
            df.info(verbose=True)

        if tablename in dropna_dict:
            df.dropna(subset=list(dropna_dict[tablename].keys()), inplace=True)
        if tablename in fillna_dict:
            df.fillna(value=fillna_dict[tablename], inplace=True)

        custom_meta_fields, custom_meta_content = generate_sheet_meta(workbook, tablename, release_date)
        if tablename in ['operations_emissions_by_fuel', 'operations_emissions_by_tech']:
            # Both tables duplicate the 'Purchased Power' and 'EE & DR' data.
            # We only need one copy, which we create as 'other_generation'
            if df_nn is None:
                df_anon = df[df['plant_name_eia'].isna()]
                # Drop many NULL columns we don't need
                df_anon.dropna(axis=1, how='all', inplace=True)
                other_generation_df = df_anon
                custom_gen_meta_fields, custom_gen_meta_content = generate_other_generation_meta(df_anon)
                
                ingest_table = 'other_generation'
                columnschema = osc.create_table_schema_pairs(df_anon,
                                                             typemap={"datetime64[ns]":"timestamp(6)"})

                tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['year']
)
"""
                print(tabledef)
                qres = engine.execute(tabledef)
                print(qres.fetchall())
                df_anon.to_sql(ingest_table,
                               con=engine, schema=ingest_schema, if_exists='append',
                               index=False,
                               method=osc.TrinoBatchInsert(batch_size = 2000, verbose = True))
                df_nn = df[~df['operating_month'].isna()]
            df.dropna(subset=['plant_name_eia'], inplace=True)
            # For some reason, data before 2010 is sometimes not filled in.
            for index, row in df[df['operating_month'].isna()].iterrows():
                # df_nn is only computed once, from either 'operations_emissions_by_fuel' or 'operations_emissions_by_tech'
                df0 = df_nn[(df_nn['respondent_id']==row['respondent_id']) & (df_nn['generator_id']==row['generator_id'])][['operating_month', 'operating_year']]
                if len(df0)==0:
                    # In this case we have no prior data to refer to
                    continue
                om, oy = df0.iloc[0]
                df.loc[index, ('operating_month', 'operating_year')] = om, oy
            for colname in ['operating_month', 'operating_year', 'retirement_month', 'retirement_year']:
                df[colname] = pd.to_numeric(df[colname],downcast='integer')
                pass
        elif tablename=='emissions_targets':
            # Needed because respondent_id 191 data is duplicated (and 121 is kinda duplicated, too).
            df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
            df.loc[df['CO2_intensity_historical']==np.inf, ['CO2_historical', 'CO2_intensity_historical']] = [0, 0]
            df['CO2_intensity_historical'] = df['CO2_intensity_historical'].astype('float64')
            
            # Fix discrepencies between emissions_targets and the other files that define/reference parent_name
            df.loc[df.parent_name=='American States Water', 'parent_name'] = 'American States Water Co.'
            df.loc[df.parent_name=='CMS Energy', 'parent_name'] = 'CMS Energy Corp.'
            df.loc[df.parent_name=='Emera Inc.', 'parent_name'] = 'Versant Power'
            df.loc[df.parent_name=='Fortis, Inc', 'parent_name'] = 'Fortis, Inc.'
            df.loc[df.parent_name=='National Grid plc', 'parent_name'] = 'National Grid PLC'
            df.loc[df.parent_name=='NorthWestern Corp.', 'parent_name'] = 'Northwestern Corp.'
            df.loc[df.parent_name=='OG&E Energy', 'parent_name'] = 'OG&E Energy Corp.'
            df.loc[df.parent_name=='PPL', 'parent_name'] = 'PPL Corp.'
            df.loc[df.parent_name=='Sempra Energy', 'parent_name'] = 'Sempra'
            df.loc[df.parent_name=='Verso', 'parent_name'] = 'Verso Corp.'
        # if tablename in tidy_dict:
        #     tidy_df = df.melt(id_vars=tidy_dict[tablename][0], value_vars=tidy_dict[tablename][2],
        #                       var_name=tidy_dict[tablename][1][0], value_name=tidy_dict[tablename][1][1])
        #     tidy_df[tidy_dict[tablename][1][0]] = tidy_df[tidy_dict[tablename][1][0]].apply(lambda x: x.split('_')[0])
        #     tidy_df.dropna(subset=[tidy_dict[tablename][1][1]],inplace=True)
        
        ingest_table = tablename
        columnschema = osc.create_table_schema_pairs(df, typemap={"datetime64[ns]":"timestamp(6)"})

        tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['year']
)
"""
        print(tabledef)
        qres = engine.execute(tabledef)
        print(qres.fetchall())
        df.to_sql(ingest_table,
                  con=engine, schema=ingest_schema, if_exists='append',
                  index=False,
                  method=osc.TrinoBatchInsert(batch_size = 2000, verbose = True))
    zipfile.close()

print('Done!')

Generating Overview...
Metadata Overview
{'title': 'RMI Utility Transition Hub Data Dictionary', 'description': 'The RMI Utility Transition Hub Data Download is a collection of publicly available data, organized and used to calculate key metrics that describe the US utility transition.\n\nThis data dictionary describes each data file in detail, including definitions, units, data sources, and methodology.\n\nFor downloadable data, visit https://utilitytransitionhub.rmi.org/data-download/.\nFor interactive data visualizations, visit https://utilitytransitionhub.rmi.org/portal/.\nFor analyses and insights, visit https://utilitytransitionhub.rmi.org/insights/.', 'version': 'Released January 2022', 'uri': 'https://utilitytransitionhub.rmi.org/data-download/', 'copyright': '© 2021 RMI', 'license': 'Creative Commons Attribution-Noncommercial 4.0 International Public License (CC BY-NC)', 'contact': 'utilitytransitionhub@rmi.org', 'abstract': 'Utilities coverage: all current FERC Form 1 respondents. This includes 403 total companies: \n         98 vertically integrated utilities\n         25 restructured utilities\n       107 wires-only utilities\n           4 municipal utilities\n         62 cooperative utilities\n         39 independent power producers\n         68 other (or defunct) utilities. \nGeographical coverage: United States\nTemporal coverage: 2005-2020 for historical data, and emission target projections to 2050\nTemporal resolution: annual data\nThis data set is not comprehensive of all utilities in the United States. If aggregating data to parent companies, values will be the sum of their regulated subsidiaries, not actual total values for the parent company.', 'name': 'rmi_utility_transition_hub'}
fname: 'revenue_by_tech.csv'; tablename = 'revenue_by_tech'

,parent_name,utility_name,respondent_id,year,technology,component,detail,revenue_total,revenue_residential
355570,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,distribution,amort_&_depl_of_utility_plant,amort_&_depl_of_utility_plant,0.0,NaN
355571,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,distribution,depreciation_expense,depreciation_expense,0.0,NaN
355572,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,distribution,depreciation_expense_for_asset_retirement_costs,depreciation_expense_for_asset_retirement_costs,0.0,NaN
355573,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,distribution,maintenance_expenses,maintenance of line transformers,0.0,NaN
355574,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,distribution,maintenance_expenses,maintenance of meters,0.0,NaN
...,...,...,...,...,...,...,...,...,...
355736,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,transmission,non_fuel_operation_expenses,station expenses,1818174.0,NaN
355737,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,transmission,non_fuel_operation_expenses,transmission of electricity by others,0.0,NaN
355738,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,transmission,non_fuel_operation_expenses,transmission service studies,0.0,NaN
355739,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,transmission,non_fuel_operation_expenses,underground lines expenses,10658.0,NaN
355740,"Fortis, Inc.",ITC Midwest LLC,316,2008-01-01,transmission,returns,returns,0.0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373778 entries, 0 to 373777
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   parent_name          373778 non-null  string
 1   utility_name         373778 non-null  string
 2   respondent_id        373778 non-null  int32
 3   year                 373778 non-null  datetime64[ns]
 4   technology           373778 non-null  string
 5   component            373778 non-null  string
 6   detail               373778 non-null  string
 7   revenue_total        373778 non-null  float64
 8   revenue_residential  373265 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(1), string(5)
memory usage: 24.2 MB

create table if not exists osc_datacommons_dev.sandbox.revenue_by_tech(
    parent_name varchar,
    utility_name varchar,
    respondent_id integer,
    year timestamp(6),
    technology varchar,
    component varchar,
    detail varchar,
    revenue_total double,
    revenue_residential double
) with (
    format = 'ORC',
    partitioning = array['year']
)

[(True,)]
inserting 2000 records
  ('Southern Co.', 'Alabama Power Co.', 2, TIMESTAMP '2020-01-01 00:00:00', 'adjustment', 'adjustment', 'adjustment', -13807187.251468658, 130769769.41211224)
  ('Southern Co.', 'Alabama Power Co.', 2, TIMESTAMP '2020-01-01 00:00:00', 'distribution', 'amort_&_depl_of_utility_plant', 'amort_&_depl_of_utility_plant', 0.0, 0.0)
  ('Southern Co.', 'Alabama Power Co.', 2, TIMESTAMP '2020-01-01 00:00:00', 'distribution', 'depreciation_expense', 'depreciation_expense', 205239725.0, 88309308.77696614)
  ...
  ('Southern Co.', 'Alabama Power Co.', 2, TIMESTAMP '2009-01-01 00:00:00', 'other_fossil', 'non_fuel_operation_expenses', 'miscellaneous other power generation expenses', 1721296.0, 630681.4875467074)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Southern Co.', 'Alabama Power Co.', 2, TIMESTAMP '2009-01-01 00:00:00', 'other_fossil', 'non_fuel_operation_expenses', 'operation supervision and engineering', 3082806.0, 1129537.670393654)
  ('Southern Co.', 'Alabama Power Co.', 2, TIMESTAMP '2009-01-01 00:00:00', 'other_fossil', 'non_fuel_operation_expenses', 'rents', 78.0, 28.579138061462512)
  ('Southern Co.', 'Alabama Power Co.', 2, TIMESTAMP '2009-01-01 00:00:00', 'other_fossil', 'returns', 'returns', 75797260.76364058, 27772056.15442)
  ...
  ('Avista Corp.', 'Alaska Electric Light & Power Co.', 3, TIMESTAMP '2013-01-01 00:00:00', 'nuclear', 'maintenance_expenses', 'maintenance of electric plant', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Avista Corp.', 'Alaska Electric Light & Power Co.', 3, TIMESTAMP '2013-01-01 00:00:00', 'nuclear', 'maintenance_expenses', 'maintenance of miscellaneous nuclear plant', 0.0, 0.0)
  ('Avista Corp.', 'Alaska Electric Light & Power Co.', 3, TIMESTAMP '2013-01-01 00:00:00', 'nuclear', 'maintenance_expenses', 'maintenance of reactor plant equipment', 0.0, 0.0)
  ('Avista Corp.', 'Alaska Electric Light & Power Co.', 3, TIMESTAMP '2013-01-01 00:00:00', 'nuclear', 'maintenance_expenses', 'maintenance of structures', 0.0, 0.0)
  ...
  ('American Electric Power Co., Inc.', 'Appalachian Power Co.', 6, TIMESTAMP '2018-01-01 00:00:00', 'transmission', 'maintenance_expenses', 'maintenance of station equipment', 3111284.0, 1438666.188297147)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('American Electric Power Co., Inc.', 'Appalachian Power Co.', 6, TIMESTAMP '2018-01-01 00:00:00', 'transmission', 'maintenance_expenses', 'maintenance of structures', 80150.0, 37061.578111164505)
  ('American Electric Power Co., Inc.', 'Appalachian Power Co.', 6, TIMESTAMP '2018-01-01 00:00:00', 'transmission', 'maintenance_expenses', 'maintenance of underground lines', -3488.0, -1612.8606918495543)
  ('American Electric Power Co., Inc.', 'Appalachian Power Co.', 6, TIMESTAMP '2018-01-01 00:00:00', 'transmission', 'maintenance_expenses', 'maintenance supervision and engineering', 188327.0, 87082.91729184375)
  ...
  ('American Electric Power Co., Inc.', 'Appalachian Power Co.', 6, TIMESTAMP '2006-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'office supplies and expenses', 4499179.0, 1343556.9074715376)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('American Electric Power Co., Inc.', 'Appalachian Power Co.', 6, TIMESTAMP '2006-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'operation supervision', 0.0, 0.0)
  ('American Electric Power Co., Inc.', 'Appalachian Power Co.', 6, TIMESTAMP '2006-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'operation_expenses', 0.0, 0.0)
  ('American Electric Power Co., Inc.', 'Appalachian Power Co.', 6, TIMESTAMP '2006-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'other expenses', 15725058.0, 4695859.021454928)
  ...
  ('Pinnacle West Capital Corp.', 'Arizona Public Service Co.', 7, TIMESTAMP '2010-01-01 00:00:00', 'distribution', 'returns', 'returns', 428906985.5230098, 204453352.3054914)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Pinnacle West Capital Corp.', 'Arizona Public Service Co.', 7, TIMESTAMP '2010-01-01 00:00:00', 'hydro', 'amort_&_depl_of_utility_plant', 'amort_&_depl_of_utility_plant', 0.0, 0.0)
  ('Pinnacle West Capital Corp.', 'Arizona Public Service Co.', 7, TIMESTAMP '2010-01-01 00:00:00', 'hydro', 'depreciation_expense', 'depreciation_expense', 0.0, 0.0)
  ('Pinnacle West Capital Corp.', 'Arizona Public Service Co.', 7, TIMESTAMP '2010-01-01 00:00:00', 'hydro', 'depreciation_expense_for_asset_retirement_costs', 'depreciation_expense_for_asset_retirement_costs', 0.0, 0.0)
  ...
  ('Entergy Corp.', 'Entergy Arkansas, LLC', 8, TIMESTAMP '2015-01-01 00:00:00', 'steam', 'maintenance_expenses', 'maintenance of structures', 1067968.0, 406587.4497881492)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Entergy Corp.', 'Entergy Arkansas, LLC', 8, TIMESTAMP '2015-01-01 00:00:00', 'steam', 'maintenance_expenses', 'maintenance supervision and engineering', 821839.0, 312883.366492669)
  ('Entergy Corp.', 'Entergy Arkansas, LLC', 8, TIMESTAMP '2015-01-01 00:00:00', 'steam', 'non_fuel_operation_expenses', 'allowances', 93694.0, 35670.36139701831)
  ('Entergy Corp.', 'Entergy Arkansas, LLC', 8, TIMESTAMP '2015-01-01 00:00:00', 'steam', 'non_fuel_operation_expenses', 'electric expenses', 1558762.0, 593438.255085054)
  ...
  ('Exelon Corp.', 'Atlantic City Electric Co.', 9, TIMESTAMP '2019-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'administrative expenses transferred-credit', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Exelon Corp.', 'Atlantic City Electric Co.', 9, TIMESTAMP '2019-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'advertising expenses', 0.0, 0.0)
  ('Exelon Corp.', 'Atlantic City Electric Co.', 9, TIMESTAMP '2019-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'ancillary services market facilitation', 0.0, 0.0)
  ('Exelon Corp.', 'Atlantic City Electric Co.', 9, TIMESTAMP '2019-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'capacity market facilitation', 0.0, 0.0)
  ...
  ('Exelon Corp.', 'Atlantic City Electric Co.', 9, TIMESTAMP '2007-01-01 00:00:00', 'distribution', 'depreciation_expense_for_asset_retirement_costs', 'depreciation_expense_for_asset_retirement_costs', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Exelon Corp.', 'Atlantic City Electric Co.', 9, TIMESTAMP '2007-01-01 00:00:00', 'distribution', 'maintenance_expenses', 'maintenance of line transformers', 0.0, 0.0)
  ('Exelon Corp.', 'Atlantic City Electric Co.', 9, TIMESTAMP '2007-01-01 00:00:00', 'distribution', 'maintenance_expenses', 'maintenance of meters', 1360844.0, 606902.7521809569)
  ('Exelon Corp.', 'Atlantic City Electric Co.', 9, TIMESTAMP '2007-01-01 00:00:00', 'distribution', 'maintenance_expenses', 'maintenance of miscellaneous distribution plant', 1882.0, 839.3254330434354)
  ...
  ('Exelon Corp.', 'Baltimore Gas & Electric Co.', 10, TIMESTAMP '2012-01-01 00:00:00', 'purchased_power', 'purchased_power', 'purchased power', 934599661.0, 612209504.1801609)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Exelon Corp.', 'Baltimore Gas & Electric Co.', 10, TIMESTAMP '2012-01-01 00:00:00', 'renewables', 'PTC', 'PTC', 0.0, 0.0)
  ('Exelon Corp.', 'Baltimore Gas & Electric Co.', 10, TIMESTAMP '2012-01-01 00:00:00', 'renewables', 'depreciation_expense', 'depreciation_expense', 0.0, 0.0)
  ('Exelon Corp.', 'Baltimore Gas & Electric Co.', 10, TIMESTAMP '2012-01-01 00:00:00', 'renewables', 'fuel_expenses', 'fuel_expenses', 0.0, 0.0)
  ...
  ('Versant Power', 'Versant Power', 11, TIMESTAMP '2016-01-01 00:00:00', 'nuclear', 'maintenance_expenses', 'maintenance supervision and engineering', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Versant Power', 'Versant Power', 11, TIMESTAMP '2016-01-01 00:00:00', 'nuclear', 'non_fuel_operation_expenses', 'coolants and water', 0.0, 0.0)
  ('Versant Power', 'Versant Power', 11, TIMESTAMP '2016-01-01 00:00:00', 'nuclear', 'non_fuel_operation_expenses', 'electric expenses', 0.0, 0.0)
  ('Versant Power', 'Versant Power', 11, TIMESTAMP '2016-01-01 00:00:00', 'nuclear', 'non_fuel_operation_expenses', 'miscellaneous nuclear power expenses', 0.0, 0.0)
  ...
  ('Versant Power', 'Versant Power', 11, TIMESTAMP '2005-01-01 00:00:00', 'transmission', 'non_fuel_operation_expenses', 'generation interconnection studies', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Versant Power', 'Versant Power', 11, TIMESTAMP '2005-01-01 00:00:00', 'transmission', 'non_fuel_operation_expenses', 'load dispatch-monitor and operate transmission system', 0.0, 0.0)
  ('Versant Power', 'Versant Power', 11, TIMESTAMP '2005-01-01 00:00:00', 'transmission', 'non_fuel_operation_expenses', 'load dispatch-reliability', 0.0, 0.0)
  ('Versant Power', 'Versant Power', 11, TIMESTAMP '2005-01-01 00:00:00', 'transmission', 'non_fuel_operation_expenses', 'load dispatch-transmission service and scheduling', 0.0, 0.0)
  ...
  ('Black Hills Corp.', 'Black Hills Power, Inc.', 12, TIMESTAMP '2008-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'outside services employed', 1855011.0, 389094.9654419283)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Black Hills Corp.', 'Black Hills Power, Inc.', 12, TIMESTAMP '2008-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'property insurance', 678709.0, 142361.55737088658)
  ('Black Hills Corp.', 'Black Hills Power, Inc.', 12, TIMESTAMP '2008-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'regulatory commission expenses', 349007.0, 73205.42390529817)
  ('Black Hills Corp.', 'Black Hills Power, Inc.', 12, TIMESTAMP '2008-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'rents', 300919.0, 63118.79978383935)
  ...
  ('Duke Energy Corp.', 'Duke Energy Progress, LLC', 17, TIMESTAMP '2016-01-01 00:00:00', 'hydro', 'maintenance_expenses', 'maintenance of structures', 331428.0, 123765.0528691563)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Duke Energy Corp.', 'Duke Energy Progress, LLC', 17, TIMESTAMP '2016-01-01 00:00:00', 'hydro', 'non_fuel_operation_expenses', 'electric expenses', 91095.0, 34017.57694315445)
  ('Duke Energy Corp.', 'Duke Energy Progress, LLC', 17, TIMESTAMP '2016-01-01 00:00:00', 'hydro', 'non_fuel_operation_expenses', 'hydraulic expenses', -223725.0, -83545.55575615818)
  ('Duke Energy Corp.', 'Duke Energy Progress, LLC', 17, TIMESTAMP '2016-01-01 00:00:00', 'hydro', 'non_fuel_operation_expenses', 'miscellaneous hydraulic power generation expenses', 789899.0, 294971.73291421874)
  ...
  ('Duke Energy Corp.', 'Duke Energy Progress, LLC', 17, TIMESTAMP '2005-01-01 00:00:00', 'steam', 'non_fuel_operation_expenses', 'steam from other sources', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Duke Energy Corp.', 'Duke Energy Progress, LLC', 17, TIMESTAMP '2005-01-01 00:00:00', 'steam', 'non_fuel_operation_expenses', 'steam transferred-cr.', 0.0, 0.0)
  ('Duke Energy Corp.', 'Duke Energy Progress, LLC', 17, TIMESTAMP '2005-01-01 00:00:00', 'steam', 'returns', 'returns', 110630576.69781856, 40627874.53551017)
  ('Duke Energy Corp.', 'Duke Energy Progress, LLC', 17, TIMESTAMP '2005-01-01 00:00:00', 'transmission', 'amort_&_depl_of_utility_plant', 'amort_&_depl_of_utility_plant', 0.0, 0.0)
  ...
  ('Fortis, Inc.', 'Central Hudson Gas & Electric Corp.', 19, TIMESTAMP '2009-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'duplicate charges-cr.', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Fortis, Inc.', 'Central Hudson Gas & Electric Corp.', 19, TIMESTAMP '2009-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'employee pensions and benefits', 28917048.0, 18413650.4309378)
  ('Fortis, Inc.', 'Central Hudson Gas & Electric Corp.', 19, TIMESTAMP '2009-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'franchise requirements', 0.0, 0.0)
  ('Fortis, Inc.', 'Central Hudson Gas & Electric Corp.', 19, TIMESTAMP '2009-01-01 00:00:00', 'other', 'non_fuel_operation_expenses', 'general advertising expenses', 0.0, 0.0)
  ...
  ('Ameren Corp.', 'Central Illinois Public Service Co.', 21, TIMESTAMP '2008-01-01 00:00:00', 'distribution', 'maintenance_expenses', 'maintenance supervision and engineering', 987339.0, 549760.3215464886)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Ameren Corp.', 'Central Illinois Public Service Co.', 21, TIMESTAMP '2008-01-01 00:00:00', 'distribution', 'non_fuel_operation_expenses', 'customer installations expenses', 3078138.0, 1713938.309582084)
  ('Ameren Corp.', 'Central Illinois Public Service Co.', 21, TIMESTAMP '2008-01-01 00:00:00', 'distribution', 'non_fuel_operation_expenses', 'load dispatching', 1514030.0, 843027.1868436576)
  ('Ameren Corp.', 'Central Illinois Public Service Co.', 21, TIMESTAMP '2008-01-01 00:00:00', 'distribution', 'non_fuel_operation_expenses', 'meter expenses', 3203470.0, 1783724.432301904)
  ...
  ('Cleco Partners LP', 'Cleco Power LLC', 22, TIMESTAMP '2013-01-01 00:00:00', 'renewables', 'non_fuel_operation_expenses', 'miscellaneous other power generation expenses', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Cleco Partners LP', 'Cleco Power LLC', 22, TIMESTAMP '2013-01-01 00:00:00', 'renewables', 'non_fuel_operation_expenses', 'operation supervision and engineering', 0.0, 0.0)
  ('Cleco Partners LP', 'Cleco Power LLC', 22, TIMESTAMP '2013-01-01 00:00:00', 'renewables', 'non_fuel_operation_expenses', 'rents', 0.0, 0.0)
  ('Cleco Partners LP', 'Cleco Power LLC', 22, TIMESTAMP '2013-01-01 00:00:00', 'renewables', 'returns', 'returns', 0.0, 0.0)
  ...
  ('Avangrid, Inc.', 'Central Maine Power Co.', 23, TIMESTAMP '2017-01-01 00:00:00', 'nuclear', 'returns', 'returns', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Avangrid, Inc.', 'Central Maine Power Co.', 23, TIMESTAMP '2017-01-01 00:00:00', 'other', 'amort_&_depl_of_utility_plant', 'amort_&_depl_of_utility_plant', 5068439.0, 3408105.768851408)
  ('Avangrid, Inc.', 'Central Maine Power Co.', 23, TIMESTAMP '2017-01-01 00:00:00', 'other', 'depreciation_expense', 'depreciation_expense', 7600298.0, 5110571.412379594)
  ('Avangrid, Inc.', 'Central Maine Power Co.', 23, TIMESTAMP '2017-01-01 00:00:00', 'other', 'depreciation_expense_for_asset_retirement_costs', 'depreciation_expense_for_asset_retirement_costs', 0.0, 0.0)
  ...
  ('Avangrid, Inc.', 'Central Maine Power Co.', 23, TIMESTAMP '2006-01-01 00:00:00', 'transmission', 'non_fuel_operation_expenses', 'reliability, planning and standards development services', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Avangrid, Inc.', 'Central Maine Power Co.', 23, TIMESTAMP '2006-01-01 00:00:00', 'transmission', 'non_fuel_operation_expenses', 'rents', 73727.0, 32157.2590391897)
  ('Avangrid, Inc.', 'Central Maine Power Co.', 23, TIMESTAMP '2006-01-01 00:00:00', 'transmission', 'non_fuel_operation_expenses', 'scheduling, system control and dispatch services', 0.0, 0.0)
  ('Avangrid, Inc.', 'Central Maine Power Co.', 23, TIMESTAMP '2006-01-01 00:00:00', 'transmission', 'non_fuel_operation_expenses', 'station expenses', 634838.0, 276895.16749523394)
  ...
  ('Duke Energy Corp.', 'Duke Energy Ohio, Inc.', 27, TIMESTAMP '2018-01-01 00:00:00', 'other_fossil', 'depreciation_expense', 'depreciation_expense', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Duke Energy Corp.', 'Duke Energy Ohio, Inc.', 27, TIMESTAMP '2018-01-01 00:00:00', 'other_fossil', 'fuel_expenses', 'fuel_expenses', 0.0, 0.0)
  ('Duke Energy Corp.', 'Duke Energy Ohio, Inc.', 27, TIMESTAMP '2018-01-01 00:00:00', 'other_fossil', 'maintenance_expenses', 'maintenance of generating and electric plant', 0.0, 0.0)
  ('Duke Energy Corp.', 'Duke Energy Ohio, Inc.', 27, TIMESTAMP '2018-01-01 00:00:00', 'other_fossil', 'maintenance_expenses', 'maintenance of miscellaneous other power generation plant', 0.0, 0.0)
  ...
  ('Duke Energy Corp.', 'Duke Energy Ohio, Inc.', 27, TIMESTAMP '2006-01-01 00:00:00', 'hydro', 'non_fuel_operation_expenses', 'rents', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('Duke Energy Corp.', 'Duke Energy Ohio, Inc.', 27, TIMESTAMP '2006-01-01 00:00:00', 'hydro', 'non_fuel_operation_expenses', 'water for power', 0.0, 0.0)
  ('Duke Energy Corp.', 'Duke Energy Ohio, Inc.', 27, TIMESTAMP '2006-01-01 00:00:00', 'hydro', 'returns', 'returns', 0.0, 0.0)
  ('Duke Energy Corp.', 'Duke Energy Ohio, Inc.', 27, TIMESTAMP '2006-01-01 00:00:00', 'nuclear', 'amort_&_depl_of_utility_plant', 'amort_&_depl_of_utility_plant', 0.0, 0.0)
  ...
  ('FirstEnergy Corp.', 'The Cleveland Electric Illuminating Co.', 30, TIMESTAMP '2011-01-01 00:00:00', 'transmission', 'depreciation_expense_for_asset_retirement_costs', 'depreciation_expense_for_asset_retirement_costs', 0.0, 0.0)
constructed fully qualified table name as: "sandbox.revenue_by_tech"
batch insert result: [(2000,)]
inserting 2000 records
  ('FirstEnergy Corp.', 'The Cleveland Electric Illuminating Co.', 30, TIMESTAMP '2011-01-01 00:00:00', 'transmission', 'maintenance_expenses', 'maintenance of communication equipment', 122818.0, 51796.69163907236)
  ('FirstEnergy Corp.', 'The Cleveland Electric Illuminating Co.', 30, TIMESTAMP '2011-01-01 00:00:00', 'transmission', 'maintenance_expenses', 'maintenance of computer hardware', 12922.0, 5449.664131968385)

Iterate through tablenames until we get to *Additional Information*, storing all the names and descriptions of the tables.

We've already collected the field names, types, dimensions, etc., of each table into our dataframes.
But there's additional metadata we can collect from the data dictionary

## Load metadata following an ingestion process into trino metadata store

### The schema is *metastore*, and the table names are *meta_schema*, *meta_table*, *meta_field*

metastore = 'metastore'

# Create a metadata schema with tables for the three layers of metadata: schema, table, and field.

meta_schema = 'meta_schema'
meta_table = 'meta_table'
meta_field = 'meta_field'

# These metadata tables are local to this ingestion process.
# We will insert/merge with master metadata tables later

metadata_to_df = {
    # For each data source there is a single entry in the _schema_table
    meta_schema: pd.DataFrame(data=[], columns=[]),
    # For each data source there are one or more tables in the _tables_table
    meta_table: pd.DataFrame(data=[],
                    columns=['tname', 'parent_schema', 'source', 'processing_pipeline']),
    # For each table there are one or more fields in the fields_table
    meta_field: pd.DataFrame(data=[],
                    columns=['fname', 'parent_table', 'type', 'dimension', 'description'])
}

cur.execute(f'create schema if not exists {metastore}')
cur.fetchall()